@using Buoi17_First.Entities
@using Microsoft.AspNetCore.Http;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <div>MyString: @Context.Session.GetString("MyString")</div>
    <div>MyInt: @Context.Session.GetString("MyInt")</div>
    @{
        var loai = Context.Session.Get<Loai>("MyBeer");
    }
    <div>@loai?.MaLoai - @loai?.TenLoai</div>
</div>