@model IEnumerable<Buoi17_First.Data.Category>
<ul class="dropdown">
    @foreach(var item in Model)
    {
        <li><a asp-action="Index" asp-controller="Product" asp-route-id="@item.CategoryId">@item.CategoryName</a></li>
    }
</ul>

