
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>AREA - PRODUCT</h1>
<form asp-area="admin" asp-action="Search">
    Key: <input name = "AAA"/>
    <button>Filter</button>
</form>