@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Search";
}


<h1>Search</h1>
<fieldset>
    <legend>Tìm gì</legend>
    <input id="keyword" />
</fieldset>
<div id="result"></div>

@section Scripts {
<script>
    $(function () {
      $("#keyword").keyup(function (v) {
        // Không call api khi chưa đủ 3 ký tự
        if($(this).val().length < 3)
        {
            return;
        }
        $.ajax({
            url: "/Ajax/Search",
            type: "POST",
            data: { keyword: $(this).val() },
            success: function(res) {
                $("#result").html(res)
            },
            error: function (xhr, textStatus, error) {
                alert(xhr.statusText);
            }
        });
      });
    });
</script>
}
