@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<fieldset>
    <legend>Tìm gì</legend>
    <input id="findword" />
</fieldset>
<div id="result"></div>
@section Scripts{ 
<script>
    $(function () {
        $("#findword").keyup(function (v) {
            console.log(v)
            //ko call api khi chưa đủ 3 kí tự
            if ($(this).val().length < 3) return;
            $.ajax({
                url: "/Ajax/Search",
                type: "POST",
                data: { keyword: $(this).val() },
                success: function (res) {
                    $("#result").html(res)
                },
                error: function (xhr, textStatus, error) {
                    alert(xhr.statusText);
                }
            });
        });
    });
</script>
}